@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat:wght@300;400;500;600;700;800;900&family=Outfit:wght@400;700&display=swap');

:root {
    --color-primary: #70140e;
    --color-primary-variant: #fa6b6b;
    --color-gradient: linear-gradient(var(--color-primary), var(--color-primary-variant));
    --color-white: white;
    --color-black: black;

    --container-width-lg: 80%;
    --container-width-md: 92%;
}

body::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #741717;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: var(--color-gradient);
}

nav {
    background: var(--color-white);
    width: 100vw;
    height: 4rem;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 2 rem 2 rem rgba(0, 0, 0, 0.2);
}

.nav_container {
    width: var(--container-width-lg);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_toggle-btn {
    display: none;
}

.nav_logo {
    width: 7rem;
    display: grid;
    place-items: center;
}

.nav_logo img {
    width: 100%;
}

.nav_links {
    display: flex;
    align-items: center;
    gap: 4.5rem;
    height: 100%;
}

.nav_links li {
    height: 100%;
}

.nav_links li a {
    color: var(--color-black);
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
    transition: color 300ms ease;
    position: relative;
}

.nav_links li a:hover {
    color: var(--color-primary-variant);
}

.nav_links li a.active::after {
    content: '';
    display: block;
    background: var(--color-primary-variant);
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
}



.video-bg-primary {
    width: 100%;
    position: relative;
}

.video-bg-secundary {
    display: none;
}

section {
    display: grid;
    place-items: center;
    height: 100vh;
}

h1 {
    font-size: 5rem;
    color: white;
}

section h1 {
    text-transform: uppercase;
}


.zoom-section_one {
    transform: scale(0);
    transition: transform 0.7s ease;
}

.zoom-section_two {
    transform: scale(0);
    transition: transform 0.7s ease;
}

.zoom-section_three {
    transform: scale(0);
    transition: transform 0.7s ease;
}

.zoom-section_four {
    transform: scale(0);
    transition: transform 0.7s ease;
}


/* Media queries (responsive design medium & small screens */


@media screen and (max-width: 1024px) {
    
.video-bg-primary {
    display: none;
}

.video-bg-secundary {
    display: inline-block;
    width: 100%;
}
    
    .nav_container {
        width: var(--container-width-md);
        position: relative;
    }

    .nav_links {
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
        display: none;
        perspective: 350px;
    }

    .nav_links li {
        width: 100%;
        box-shadow: -1rem 0.5rem 6rem rgba(255, 255, 255, 0.2);
    }




/* ANIMATION 5 */

.nav_links {
    perspective: none;
}

.nav_links li {
    transform-origin: right;
    animation: animation5 1s ease forwards;
    transform: rotateY(-90deg);
}

.nav_links li:nth-child(2) {
    animation-delay: 300ms;
}

.nav_links li:nth-child(3) {
    animation-delay: 600ms;
}

.nav_links li:nth-child(4) {
    animation-delay: 900ms;
}

.nav_links li:nth-child(5) {
    animation-delay: 1200ms;
}

@keyframes animation5 {
to {
transform: rotate(0);
}
}







    .nav_links li a {
        background: var(--color-white);
        height: 4rem;
        display: flex;
        align-items: center;
        padding: 0 5rem 0 2.5rem;
        border-top: 1px solid #caeffd;
    }

    .nav_links li a.active::after {
        display: none;
    }

    .nav_toggle-btn {
        display: inline-block;
        font-size: 2rem;
        color: var(--color-black);
        border: none;
        background: transparent;
        cursor: pointer;
    }

    #nav_toggle-close {
        display: none;
    }

    section h1 {
        font-size: 3rem;
    }
}